
<div class="inputDiv">
    <form id="employeeForm" #myForm="ngForm" (ngSubmit)="addEmployee(myForm)" class="inputForm">
        <input type="text" class="inputField" name="birthDate" ngModel placeholder="Birth date" required>
        <input type="text" class="inputField" name="firstName" ngModel placeholder="First name" required>
        <label for="gender">Gender: </label>
        <select name="gender" ngModel>
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
        <input type="text" class="inputField" name="hireDate" ngModel placeholder="Hire date" required>
        <input type="text" class="inputField" name="lastName" ngModel placeholder="Last name" required><br>
        <button type="submit" class="submitBtn">Add Employee</button>
    </form>
</div>


<div class="inputDiv">
    <form id="modifyForm" #modForm="ngForm" class="inputForm" (ngSubmit)="submitNewData(modForm)" ngModel="modFormData">
        <input type="number" class="inputField" disabled name="id" [(ngModel)]="modFormData.id" placeholder="Id" required>
        <input type="text" class="inputField" name="birthDate" [(ngModel)]="modFormData.birthDate" placeholder="Birth date" required>
        <input type="text" class="inputField" name="firstName" [(ngModel)]="modFormData.firstName" placeholder="First name" required>
        <label for="gender" >Gender: </label>
        <select name="gender" ngModel [(ngModel)]="modFormData.gender">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
        <input type="text" class="inputField" name="hireDate" [(ngModel)]="modFormData.hireDate" placeholder="Hire date" required>
        <input type="text" class="inputField" name="lastName" [(ngModel)]="modFormData.lastName" placeholder="Last name" required><br>
        <button type="submit" class="submitBtn">Modify Employee</button>
    </form>
</div>

<div class="employeeTable">
    <table>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth date</th>
            <th>Gender</th>
            <th>Hire date</th>
            <th>Actions</th>
        </tr>

        <tr *ngFor="let item of data._embedded.employees">
            <td>{{item.id}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.birthDate}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.hireDate}}</td>
            <th><button type="button" class="deleteBtn" (click)="deleteEmployee(item.id)">Delete</button></th>
            <th><button type="button" class="modifyBtn" (click)="modifyEmployee(item)">Modify</button></th>
        </tr>

        <tr>
            <td><button type="button" (click)="changePage(0)" [disabled]="page == 0">First page</button></td>
            <td><button type="button" (click)="changePage(-1)" [disabled]="page == 0">Previous</button></td>
            <td>Page {{page}} of {{totalPages - 1 }}</td>
            <td><button type="button" (click)='changePage(1)' [disabled]="page == totalPages - 1">Next</button></td>
            <td><button type="button" (click)="changePage(totalPages)" [disabled]="page == totalPages - 1">Last page</button></td>
        </tr>
    </table>

</div>
