

<div class="pageComponent">
    <table>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth date</th>
            <th>Gender</th>
            <th>Hire date</th>
            <th>Actions</th>
        </tr>

        <tr *ngFor="let item of data._embedded.employees">
            <td>{{item.id}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.birthDate}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.hireDate}}</td>
            <th><button type="button" (click)="deleteEmployee(item.id)">Delete</button></th>
        </tr>

        <tr>
            <td><button type="button" (click)="changePage(0)" [disabled]="page == 0">First page</button></td>
            <td><button type="button" (click)="changePage(-1)" [disabled]="page == 0">Previous</button></td>
            <td>Page {{page}} of {{totalPages - 1 }}</td>
            <td><button type="button" (click)='changePage(1)'>Next</button></td>
            <td><button type="button" (click)="changePage(totalPages)" [disabled]="page == totalPages">Last page</button></td>
        </tr>
    </table>

</div>

<div class="pageComponent">

    <form id="employeeForm" #myForm="ngForm" (ngSubmit)="addEmployee(myForm)">
        <input type="text" name="birthDate" ngModel placeholder="Birth date" required><br>
        <input type="text" name="firstName" ngModel placeholder="First name" required><br>
        <input type="text" name="gender" ngModel placeholder="Gender" required><br>
        <input type="text" name="hireDate" ngModel placeholder="Hire date" required><br>
        <input type="text" name="lastName" ngModel placeholder="Last name" required>
        <button type="submit">Add Employee</button>
    </form>
</div>